{% extends '@MauticCore/Default/content.html.twig' %}

{% block content %}
<div class="box-layout">
<div class="col-md-12">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">My Plugin Settings</h3>
</div>

<div class="panel-body">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
</div>
</div>
</div>
{% endblock %}
